/* ===========================================================
   Header
   =========================================================== */

header {
  @extend %clearfix;
  background: $white url("/typography/assets/images/background/stardust.png");
  border-bottom: 8px solid $white;
  color: $white;
  text-align: center;
}

header .container { padding: 7rem 0; }

.project-title {
  color: $white;
  display: inline-block;
  font-weight: $light;

  @media #{$medium} {
    font-size: 4.738em;
  }
}
