/* ===========================================================
   Header
   =========================================================== */

header {
  @extend %clearfix;
  background: $dark-gray url("/typography/assets/images/background/stardust.png");
  color: $white;
  text-align: center;

  .container { padding: 10rem 0; }

  h1 {
    font-size: 2.5rem;
    font-weight: $light;

    @media #{$medium} { font-size: 5rem; }
  }
}
