/* ===========================================================
   Layout
   =========================================================== */

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

html {
  font: $body-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $black;
}

/* ===========================================================
   Sections
   =========================================================== */

.font-vs-typeface {
  border-top: 2px solid darken($light-gray, 5%);
  background: $light-gray;
}

.typeface-categories {
  border-top: 2px solid darken($green, 5%);
  background: $green;
  color: $white;
  font-family: "Josefin Sans", sans-serif;
  font-size: .9rem;
  font-weight: $bold;
  text-align: center;

  @media #{$medium} {
    font-size: 1rem;
  }

  h1 {
    font-family: "Amatic SC", cursive;
    font-size: 2.5rem;

    @media #{$medium} {
      font-size: 3rem;
    }
  }
}

.legible-and-readable--warning {
  border-top: 4px dotted darken($yellow, 5%);
  background: lighten($yellow, 8%);

  h4 { color: $black; }
}

.legible-and-readable--book {
  border-top: 2px solid darken($blue-gray, 5%);
  background: $blue-gray;
  overflow: hidden;

  @media #{$medium} {
    height: 592px;
  }

  .container {

    @media #{$medium} {
      position: relative;
    }
  }
}

.legible-and-readable__title {
  color: $white;
  font-weight: $light;
  margin-bottom: 3rem;
  text-align: center;
}

.vertical-rhythm {
  background: url(http://basehold.it/i/30);
  font-family: "Roboto Slab", serif;

  .container { padding: 3rem 0; }

  h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: $regular;
    text-align: center;
  }
}

/* ===========================================================
   Container
   =========================================================== */

.container {
  @extend %clearfix;
  margin: 0 auto;
  padding: 4rem 0;
  width: 90%;

  @media #{$medium} { max-width: 900px; }
}

/* ===========================================================
   Grid
   =========================================================== */

.row {
  @extend %clearfix;
  margin-bottom: 4rem;
  width: 100%;

  &:last-of-type { margin-bottom: 0; }
}

.column {
  float: left;
  margin-bottom: 1rem;
  width: 100%;

  @media #{$medium} {
    margin-bottom: 0;
    margin-left: 5%;
    width: 47.5%;

    &:first-of-type { margin-left: 0; }
  }

  &:last-of-type { margin-bottom: 0; }
}

.one-third {
  width: 100%;

  @media #{$medium} {
    margin-bottom: 0;
    margin-left: 6%;
    width: 31%;

    &:first-of-type { margin-left: 0; }
  }
}

.two-thirds {
  width: 100%;

  @media #{$medium} {
    margin-bottom: 0;
    margin-left: 6%;
    width: 64%;

    &:first-of-type { margin-left: 0; }
  }
}

/* ===========================================================
   Buttons
   =========================================================== */

.button {
  border-radius: $border-radius;
  display: block;
  font-family: "Raleway", sans-serif;
  margin: 3rem auto 0;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.primary {
  background: $blue;
  color: $white;
  font-weight: $bold;

  &:hover { background: darken($blue, 5%); }
}

/* ===========================================================
   Images
   =========================================================== */

img {
  margin: 0;
  width: 100%;
}
