/* ===========================================================
   Layout
   =========================================================== */

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

html {
  font: $body-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$medium} { font-size: 20px; }
}

body {
  background: $light-gray;
  color: $black;
  font-weight: $light;
}

/* ===========================================================
   Sections
   =========================================================== */

section {
  border-bottom: 8px solid $white;

  h2 { text-align: center; }
}

.font-vs-typeface {
  background: $orange;
  color: darken($orange, 50%);

  h2 { text-align: center; }
}

.typeface-classification {
  background: $light-green;
  background: linear-gradient(45deg, darken($light-green, 10%) 10%, $light-green 90%);

  h3 { text-align: center; }
}

.legible-and-readable {
  background: $blue;
  color: $white;
}

.vertical-rhythm {
  background: url("/typography/assets/images/background/pink_rice.png");
  border: 0;
}

/* ===========================================================
   Container
   =========================================================== */

.container {
  @extend %clearfix;
  margin: 0 auto;
  padding: 4rem 0;
  width: 90%;

  @media #{$medium} { max-width: 900px; }
}

/* ===========================================================
   Grid
   =========================================================== */

.row {
  @extend %clearfix;
  margin-bottom: 3rem;
  width: 100%;

  &:last-of-type { margin-bottom: 0; }
}

.column {
  float: left;
  margin-bottom: 2rem;
  width: 100%;

  @media #{$medium} {
    margin-bottom: 0;
    margin-left: 6%;
    width: 47%;

    &:first-of-type { margin-left: 0; }
  }

  &:last-of-type { margin-bottom: 0; }
}

.one-third {
  width: 100%;

  @media #{$medium} {
    margin-bottom: 0;
    margin-left: 6%;
    width: 30%;

    &:first-of-type { margin-left: 0; }
  }
}

.two-thirds {
  width: 100%;

  @media #{$medium} {
    margin-bottom: 0;
    margin-left: 6%;
    width: 64%;

    &:first-of-type { margin-left: 0; }
  }
}

/* ===========================================================
   Images
   =========================================================== */

img {
  margin: 0;
  width: 100%;
}
