/* ===========================================================
   Typeface Buttons
   =========================================================== */

.typefaces {
  @extend %clearfix;
  @include clean-list;

  li {
    background: lighten($green, 8%);
    border-radius: 3px;
    border-bottom: 4px solid $green;
    color: $white;
    cursor: pointer;
    font-size: .9rem;
    font-weight: $bold;
    margin-bottom: .5rem;
    padding: .7rem 1rem .5rem;
    text-align: center;
    transition: background ease-in-out .2s;

    &:last-of-type { margin-bottom: 0; }

    &.selected { background: $green; }
  }
}

/* ===========================================================
   Typeface Examples
   =========================================================== */

.humanist {
  font-family: 'Libre Baskerville', serif;

  h3 { font-family: 'Libre Baskerville', serif; }
}

.transitional {
  font-family: 'PT Serif', serif;

  h3 { font-family: 'PT Serif', serif; }
}

.modern {
  font-family: 'Playfair Display', serif;

  h3 { font-family: 'Playfair Display', serif; }
}

.slab {
  font-family: 'Arvo', serif;

  h3 { font-family: 'Arvo', serif; }
}

.humanist-sans {
  font-family: 'Cabin', sans-serif;

  h3 { font-family: 'Cabin', sans-serif; }
}

.geometric-sans {
  font-family: 'Josefin Sans', sans-serif;

  h3 { font-family: 'Josefin Sans', sans-serif; }
}
