/* ===========================================================
   Typography
   =========================================================== */

h1, h2, h3, h4 {
  font: $header-font;
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 0.65;
}

h2 {
  font-size: 1.8rem;
  line-height: 0.85;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.1;
  margin-bottom: 1.55rem;
}

h4 { font-size: 1rem; }

p, ul {
  margin: 0 0 1.5rem;

  &:last-of-type { margin-bottom: 0; }
}

/* ===========================================================
   Quotes
   =========================================================== */

q {
  margin: 0;

  &:before { content: '“'; }
  &:after { content: '”'; }
}

/* ===========================================================
   Links
   =========================================================== */

a {
  color: inherit;
  text-decoration: underline;
}
