/* ===========================================================
   Typography
   =========================================================== */

h1, h2, h3, h4 {
  font: $header-font;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

p, ul {
  margin: 0 0 1.5em;

  &:last-of-type { margin-bottom: 0; }
}

/* ===========================================================
   Links
   =========================================================== */

a {
  color: inherit;
  text-decoration: underline;
}
