/* ===========================================================
   Typography
   =========================================================== */

h1, h2, h3, h4 {
  font: $header-font;
  margin-top: 0;
}

h1 {
  font-size: 2.369em;
  line-height: 0.63317856;
  margin-bottom: 0.63317856em;
}

h2 {
  font-size: 1.777em;
  line-height: 0.8441193;
  margin-bottom: 0.8441193em;
}

h3 {
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p, ul {
  margin: 0 0 1.5em;

  &:last-of-type { margin-bottom: 0; }
}

/* ===========================================================
   Links
   =========================================================== */

a {
  color: inherit;
  text-decoration: underline;
}
