/* ===========================================================
   Utilities
   =========================================================== */

.center { text-align: center; }

.remove-bottom-padding { padding-bottom: 0; }

/* ===========================================================
   Clearfix created by Nicolas Gallagher
   =========================================================== */

%clearfix {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}
