// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Header Font
$header-font: $bold 100%/1.5 "Raleway", sans-serif;

// Body Font
$body-font: $regular 100%/1.5 "Raleway", sans-serif;

// Colors
$black:           #272727;
$blue:            #2087ca;
$blue-gray:       #444349;
$green:           #15a984;
$light-gray:      #fafbfb;
$light-green:     #aff5da;
$orange:          #ffd368;
$white:           #fff;

// Border Colors
$border-light:    #e7ecec;

// Border Radius
$border-radius:   3px;
$circle:          50%;

// Medium Screens
$medium: "(min-width: 600px)";
$large: "(min-width: 900px)"
