// Font Weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Header Font
$header-font: $bold 20x/1.5 "Raleway", sans-serif;

// Body Font
$body-font: $light 20px/1.5 "Raleway", sans-serif;

// Colors
$black:           #272727;
$blue:            #4693fb;
$blue-gray:       #5a8cbb;
$dark-gray:       #444349;
$gray:            #777;
$green:           #5ead7f;
$light-gray:      #d8d8d8;
$light-yellow:    #fff3b0;
$yellow:          #ffee58;
$white:           #fff;

// Border Colors
$border-light:    #e7ecec;

// Border Radius
$border-radius:   3px;
$circle:          50%;

// Medium Screens
$medium: "(min-width: 600px)";
$large: "(min-width: 900px)"
